body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    45deg,
    rgb(45, 39, 161) 0%,
    rgb(19, 19, 89) 10%,
    rgb(22, 118, 138) 90%,
    rgb(45, 39, 161) 120%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  padding: 0.625em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.5s ease;
}

button:active {
  transform: translateY(0.2em);
}

.button:hover {
  filter: brightness(0.9);
}

.button:active {
  transform: translateY(2px);
  filter: brightness(2);
}

.chat-input-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 118, 138);
  margin: auto;
  box-sizing: border-box;
  width: 37.5em;
  max-width: 37.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 0.5em 1.25em;
}

.btn-option {
  height: 25%;

  border: none;
  padding: 0.625em;
  border-radius: 0.5em;

  gap: 1em;
  font-size: 1em;
  margin: 0.5em;

  cursor: pointer;
  background-color: #15202b;
  color: white;
}

.btn-option:hover {
  background-color: #1f2f3f;
}
.btn-option:active {
  background-color: #0d141b;
}

/*
FIXME: Remove this commented code later
  .person-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  margin: 1em auto 1em;
  max-width: 40em;
}

.person-selector-button {
  width: 100%;
  background-color: #15202b;
  color: white;
} */

.messeger {
  width: 100%;
  background-color: #15202b;
  color: white;
}

.active-person {
  background-color: #08529d;
  box-shadow: 0 0 0.5em 0.1em #c3c3c333;
  font-family: sans-serif;
}

.chat-container {
  background: #15202b;
  font-family: sans-serif;
  border-radius: 0.5em;
  width: 37.5em;
  max-width: 37.5em;
  box-shadow: 0 0 0.5em 0.1em #c3c3c333;
}

.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2em 1.25em;
}

.chat-header h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0.5em 0.1em;
  color: white;
}

.chat-messages {
  height: 23.27em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 0.5em 1.25em;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 0.625em;
  border-radius: 1em;
  margin-bottom: 0.625em;
  display: flex;
  color: white;
  flex-direction: column;
}

.message-sender {
  font-weight: bold;
  margin-bottom: 0.31em;
}

.message-text {
  font-size: 0.9em;
  margin-bottom: 0.31em;
  word-wrap: break-word;
}

.message-timestamp {
  font-size: 0.7em;
  text-align: right;
}

.blue-bg {
  background-color: #1c9bef;
  width: 90%;
}

.grey-bg {
  background-color: #3d5365;
  width: 90%;
  align-self: flex-end;
}

#start_over {
  margin: 2em auto;
}

.form-background {
  width: 37.5em;
  height: 10em;
  background-color: rgb(22, 118, 138);
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  box-sizing: border-box;
}

.submit-name-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1%;
  padding: 0.5em 0.25em;
  height: 100%;
}

.input-user-name {
  width: 100%;
  height: 50%;
  border: none;
  border-radius: 1em;
  padding: 0% 5%;
}
.btn-enter-name {
  width: 15%;
  height: 50%;
  border-radius: 1em;
  background-color: #15202b;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
}

.hidden {
  opacity: 0;
  transition: 1s;
  overflow: hidden;
  transition: opacity 1s ease-in-out, height 1s ease-in-out;
  cursor: default;
}

.hidden:hover {
  background-color: transparent;
  transition: 1s;
}

.hidden:active {
  background-color: transparent;
  transition: 2s;
}

.removed {
  display: none;
}

.visible {
  opacity: 1;
  height: auto; /* For height transition */
}

img {
  width: 100%;
}

.clock {
  transition: 1s;
  padding: 0px 10px;
  border-radius: 1em;
}

.clock-blue-bgc {
  transition: 1s;
  padding: 0px 10px;
  background-color: #1c9bef;
  border-radius: 1em;
}

.dark {
  background-color: black;
}
.bright {
  color: black;
  background-color: rgb(255, 255, 255);
}
